.hero {
    background-color: var(--main-bg-color);
    padding: 200px 0;
    text-align: center;
}

.overlay__hero {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(to left,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-color);
}

.hero__button {
    font-family: "Roboto";
    font-weight: 700;
    line-height: 2.14;
    letter-spacing: 0.06em;
    color: var(--second-color);
    border-color: var(--main-btn-color);
    padding: 10px 32px;
    background-color: var(--main-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--main-btn-color);
        background-color: var(--second-color);
        border-color: var(--main-btn-color);
    }

    &:active {
        color: var(--main-btn-color);
        background-color: var(--second-color);
        border-color: var(--main-btn-color);
    }
}