:root {
    --main-color: #212121;
    --second-color: #ffffff;
    --one-color: #000000;
    --two-color: #757575;
    --three-color: #f5f4fa;
    --line-color: #ececec;
    --line-color-second: #eeeeee;
    --main-btn-color: #2196f3;
    --main-bg-color: #2f303a;
    --icon-color: #afb1b8;
    --second-btn-color: #188CE8;
}